<div class="container">
    <br>
    <br>
    <h1>Overview</h1>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card-chart">
                <h3>Donat Chart</h3>
                <br>
                <div id="chartdivDonut"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-chart">
                <h3>Bar Chart</h3>
                <br>
                <div id="chartdivBar"></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h1>User List</h1>
    <br>
    <table class="table table-responsive table-striped" aria-label="user-list">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userTable; let i = index">
                <td>{{i + 1}}</td>
                <td>{{user?.firstName}}</td>
                <td>{{user?.lastName}}</td>
                <td>{{user?.username}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
</div>