.navbar {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

h6 {
    color: white;
    line-height: unset;
    margin-bottom: 0;
}

img {
    width: 15px;
    margin-right: 10px;
    filter: invert(100%) sepia(0%) saturate(7460%) hue-rotate(129deg) brightness(104%) contrast(103%);
}

.sign-out-btn {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    cursor: pointer;
}