<nav class="navbar navbar-dark bg-dark">
    <div class="sign-out-btn" *ngIf="loginService.isAuthenticated()" (click)="loginService.logout()">
        <img src="../assets/sign-out-alt-solid.svg" alt="sign-out"/>
        <h6>Sign Out</h6>
    </div>
</nav>
<router-outlet></router-outlet>
