<div class="container">
    <div class="login">
        <h4 class="text-center">Sign in to Dashboard</h4>
        <br>
        <div>
            <label>
                Username
            </label>
            <input class="w-100" type="text" placeholder="Enter username" [(ngModel)]="loginModel.username" required>
        </div>
        <br>
        <div>
            <label>
                Password
            </label>
            <input class="w-100" type="password" placeholder="Enter password" [(ngModel)]="loginModel.password"
                required>
        </div>
        <br>
        <small *ngIf="invalidPasswordEmail" class="text-red">
            Invalid Password or Email
            <br>
        </small>
        <button type="button" class="btn btn-primary w-100" (click)="submitLogin()"
            [disabled]="!loginModel.username || !loginModel.username">
            SIGN IN
            <ng-container *ngIf="submitLoginLoader">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="visually-hidden">Loading...</span>
            </ng-container>
        </button>
    </div>
</div>