.login {
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 16px rgb(68 68 68 / 16%);
    border-radius: 8px;
    border: 0.5px solid #999999;
    padding: 20px;
    margin-top: 120px;
}

.text-red {
    color: red;
}